.container{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-block: 2em;
    height: 2.5em;
}

.input{
    background: #00bf9c;
    padding: 0.6em;
    border-radius: 5px;
    color: #c500bf;
    width: 22em;
}
.input::placeholder {
    color: #c500bf;
    opacity: .4;
}
.searchBtn{
    background: #c500bf;
    padding: 0.6em;
    border-radius: 5px;
    color: #000000;
}